@import "includes";

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .check {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50px;
        transition: all 0.2s;

        &--empty {
            background: $grey;
            color: $white;
        }

        &--success {
            background: $green;
            color: $white;
        }

        mat-icon {
            height: 18px;
            width: 18px;
            font-size: 18px;
        }
    }

    p {
        color: $white;
        margin: 0px 0px 0px 10px;
    }
}
