@import 'includes';

.container-404 {
    height: 100vh;
    @include center;

    .content-404 {
        .container-image {
            @include center;
            max-width: 200px;
            margin: auto;
        }

        .content-text {
            @include center;
            padding: 30px 0px;
            width: 100%;
            .text {
                @include text;
                font-size: 1.45rem;
            }
        }
    }
}
