<div class="root">
    <div class="container-input-file" [class.error]="messageError">
        <input (input)="onChange($event)" (blur)="onBlur($event.target.value)" type="file" [accept]="['.jpg', '.png']">
        <div *ngIf="!loading && !data?.name" class="text">Solte uma imagem ou clique para adicionar um ícone</div>
        <div *ngIf="data?.name">
            <div class="info-container">
                <div class="icon" [ngClass]="getClass()">
                    <mat-icon>{{ icon }}</mat-icon>
                </div>
                <div class="info">
                    <div class="name"> {{ data.name }} </div>
                    <div *ngIf="!loading" class="size"> {{ data.size }}</div>
                </div>
            </div>

            <mat-progress-bar *ngIf="loading" mode="buffer" [value]="digit"></mat-progress-bar>
        </div>
    </div>
    <div class="messagem-error" [class.active]="messageError">{{ messageError }}</div>
</div>