@import "includes";

.container-field {
    position: relative;

    &--noMargin {
        margin-bottom: 0px !important;
    }

    .content-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .field {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: $white;
        height: 52px;
        border-radius: 4px;
        border: 2px solid transparent;
        transition: all 0.2s;
        width: 100%;

        &:focus-within {
            border: 2px solid $primary;
        }

        &--border {
            border: 2px solid $grey--light;
        }

        &--invalid {
            border: 2px solid $red;
        }

        &--disabled {
            background: #f7f7f7;
            cursor: no-drop;
        }

        .field-float {
            position: relative;
            display: flex;
            width: 100%;

            label {
                pointer-events: none;
                position: absolute;
                margin-top: 24px;
                top: 0;
                left: 15px;
                font-size: 16px;
                color: #717681;
                transition: all 0.1s ease-out;
                -webkit-transition: all 0.1s ease-out;
                -moz-transition: all 0.1s ease-out;
            }

            input {
                width: 100%;
                height: 50px;
                margin-top: 15px;
                padding: 0px 15px;
                font-size: 16px;
                background-color: transparent;
                border: none !important;
                z-index: 2;
                font-family: $font-regular;

                &.upper {
                    text-transform: uppercase;
                }

                &::placeholder {
                    color: transparent;
                }

                &:focus {
                    outline: none;
                }

                &:disabled {
                    cursor: no-drop;
                }

                &:focus + label,
                &:not(:placeholder-shown) + label {
                    font-size: 12px;
                    margin-top: 12px;
                    color: $primary;
                }

                &:focus::placeholder {
                    color: #717681;
                }
            }
        }
    }

    .info {
        margin-left: 15px;
        cursor: pointer;
        color: $grey;
    }

    .feedback-error {
        font-size: 12px;
        position: absolute;
        color: $red;
        transition: all 0.2s;
        left: 15px;
        bottom: -10px;
        z-index: 1;
        opacity: 0;

        &--active {
            bottom: -20px;
            opacity: 1;
        }
    }
}

.color-icon {
    color: #757575;
}
