<div class="root">
    <div class="item">
        <h3 class="title">Form</h3>

        <form [formGroup]="form" [@listAnimation]="inputs.length">
            <ng-container *ngFor="let input of inputs">
                <div class="input">
                    <ng-container *ngIf="input.type !== 'select'">
                        <app-input [control]="form.controls[input.control]" [formControlName]="input.control"
                            [type]="input.type" [required]="input.required" [disabled]="input.disabled"
                            [label]="input.label">
                        </app-input>
                    </ng-container>
                    <ng-container *ngIf="input.type === 'select'">
                        <div class="input">
                            <app-input-select formControlName="select" [data]="selects" label="Select"
                                keyLabel="label" keyValue="value"></app-input-select>
                        </div>
                    </ng-container>
                </div>
            </ng-container>


            <div class="button">
                <app-button label="Submit" [disabled]="!form.valid"></app-button>
            </div>
        </form>


        <app-form-log [form]="form"></app-form-log>
    </div>
</div>